{% extends 'layout.html' %}

{% block content %}
<div id="content" class="container-fluid content">
    <div class="row"> <!-- Hier kannst du weitere Inhalte hinzufügen -->
        <!-- Plan Sequence -->
        <div class="col-md-12 d-flex flex-column">
            <div class="card mt-2 mb-2">
                <h5 class="card-header">Essensgruppe</h5>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>1a</td>
                                <td>
                                    <b>Hawaii</b><br>
                                    Tomatensauce, Käse, Schinken, Annanas
                                    <br>5.00€ - 6.00€ - 12.00€
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary">Bestellen</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1a</td>
                                <td>
                                    <b>Hawaii</b><br>
                                    Tomatensauce, Käse, Schinken, Annanas
                                    <br>5.00€ - 6.00€ - 12.00€
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary">Bestellen</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1a</td>
                                <td>
                                    <b>Hawaii</b><br>
                                    Tomatensauce, Käse, Schinken, Annanas
                                    <br>5.00€ - 6.00€ - 12.00€
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary">Bestellen</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1a</td>
                                <td>
                                    <b>Hawaii</b><br>
                                    Tomatensauce, Käse, Schinken, Annanas
                                    <br>5.00€ - 6.00€ - 12.00€
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary">Bestellen</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
